html {
  font-family: '游ゴシック体', YuGothic, '游ゴシック', 'Yu Gothic', 'メイリオ',
    'Hiragino Kaku Gothic ProN', 'Hiragino Sans', sans-serif;
  font-size: 62.5%;
  background-color: #f7f7f9;
  color: #323232;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a,
a:active {
  text-decoration: none;
  color: #323232;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1280px;
}
