html[data-theme='light'] {
  --color-text-main: #323232;
  --color-text-sub: #878787;
  --color-code-block: #eee;
  --color-bg-main: #f7f7f9;
  --color-bg-sub: #fff;
  --color-bg-hover: #f4f4f4;
  --color-toggle-main: #323232;
  --color-toggle-sub: #fff;
  --color-toggle-stroke: #ddd;
  --color-inactive: #d3d3d3;
}
html[data-theme='dark'] {
  --color-text-main: #c9d1d9;
  --color-text-sub: #8b949e;
  --color-code-block: #252525;
  --color-bg-main: #1f2023;
  --color-bg-sub: #34363a;
  --color-bg-hover: #e7e4e0;
  --filter-svg: invert(100%);
  --color-toggle-main: #6e40c9;
  --color-toggle-sub: #271052;
  --color-toggle-stroke: #3c1e70;
  --color-inactive: #d3d3d3;
}
.nuxt-content[data-category='dev'] {
  --color-category: #0786f8;
}
.nuxt-content[data-category='design'] {
  --color-category: #ffc825;
}
.nuxt-content[data-category='other'] {
  --color-category: #f7615e;
}
html {
  font-family: -apple-system, BlinkMacSystemFont, '游ゴシック体', YuGothic,
    'Yu Gothic M', '游ゴシック Medium', 'Yu Gothic Medium',
    'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN W3', HiraKakuProN-W3,
    'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ Pro',
    'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック',
    'MS PGothic', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, 'Segoe UI',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  font-size: 62.5%;
  background-color: var(--color-bg-main);
  color: var(--color-text-main);
  overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a,
a:active {
  text-decoration: none;
  color: var(--color-text-main);
}

*,
::after,
::before {
  box-sizing: inherit;
}

.container {
  margin: 0 auto;
  display: flex;
  max-width: 1100px;
}
